a, #anchor a {color: #993b08;}
#anchors a:active, #anchors a:focus, #anchors a:hover {color: #fff;}
.panelcap, #subheader, #userbar {border-color: #993b08;}
.panelcap, .admin-message, #subheader, #userbar, #navigation a:hover, .forum-caption, .poll, .textbox, .button {background: #ae3e09 url(../images/red_bg.gif) center center repeat-x;}
#subheader a:hover, #subheader .active a, #navigation a, .textbox:focus, .button {background: #993b08 url(../images/red_bgh.gif) center center repeat-x;}