/* Comment element properties */

a {
	color: #04688d;
	text-decoration: none;
}

a:hover {
	color: #04688d;
	text-decoration: underline;
}

a.side {
	color: #555;
	text-decoration: none;
}

a:hover.side {
	color: #f6a504;
	text-decoration: underline;
}

a.white, li.white a {
	color: #fff;
	text-decoration: none;
}

a:hover.white, li.white a:hover {
	color: #fff;
	text-decoration: underline;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	background: #fff;
	margin: 5px;
}

hr {
	height: 1px;
	border: 1px solid #eee;
}

hr.side-hr {
	height: 1px;
	border: 1px solid #eee;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

pre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.alt {
	color: #04688d;
}

.spacer {
	margin-bottom: 5px;
}

.admin-message {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	color: #555;
	background-color: #f6f6f6;
	border: 1px solid #e1e1e1;
	padding: 3px 4px 5px 4px;
	margin-bottom: 5px;
}

/* Form element properties */

form {
	margin: 0px;
}

.button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #fff;
	background-color: #f6a504;
	background-image: url(images/button.gif);
	height: 20px;
	border: 1px solid #000;
	margin-top: 2px;
}

.bbcode {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000;
	background-color: #eee;
	border: 1px solid #ccc;
	margin-top: 2px;
}

.textbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #555;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
}

/* Header and footer properties */

.sub-header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #fff;
	background-color: #555;
	background-image: url(images/subheader-mid.gif);
	padding: 7px 5px 8px 5px;
}

.sub-header-left {
	width: 3px;
	height: 28px;
	background-color: #555;
	background-image: url(images/subheader-left.gif);
}

.sub-header-right {
	width: 3px;
	height: 28px;
	background-color: #555;
	background-image: url(images/subheader-right.gif);
}

.sub-header ul{
	margin: 0;
	padding: 0;
}

.sub-header ul li{
	display: inline;
}

.sub-header ul li.first-link .bullet{
	display: none;
}

.full-header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000;
	background-color: #fff;
	padding: 5px 0 10px 0;
}

.main-footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #555;
	background-color: #fff;
	padding: 5px;
}

.bottom-footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #fff;
	background-color: #555;
	padding: 4px 4px 5px 4px;
}

.main-body {
	font-size: 11px;
	color: #555;
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 4px;
}

/* Side-Panel properties */


.side-left .side-border-right {display: none;}
.side-right .side-border-left {display: none;}

.side-border-left {
	color: #777;
	background-color: #fff;
	padding: 10px 10px 10px 0;
	width: 175px;
}

.side-border-right {
	color: #777;
	background-color: #fff;
	padding: 10px 0 10px 10px;
	width: 175px;
}

.scapmain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #fff;
	background-color: #555;
	background-image: url(images/side.gif);
  background-repeat: repeat-x;
	padding: 6px 4px 6px 4px;
}

.scapmain-left {
	width: 3px;
	height: 24px;
	background-color: #555;
	background-image: url(images/side-left.gif);
}

.scapmain-right {
	width: 3px;
	height: 24px;
	background-color: #555;
	background-image: url(images/side-right.gif);
}

.side-body {
	font-size: 10px;
	color: #555;
	background-color: #fff;
	background-image: url(images/gradient.gif);
  background-repeat: repeat-x;
	border: 1px solid #ddd;
	padding: 4px;
}

/* Center-Panel properties */

.news-category {
	border: 0;
	margin: 3px 5px 0 0;
	float: left;
}

.news-footer {
	font-size: 10px;
	color: #555;
	background-color: #f1f1f1;
	border-width: 0 1px 1px 1px;
	border-color: #ddd;
	border-style: solid;
	padding: 3px 4px 4px 4px;
}

.capmain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	background-color: #555;
	background-image: url(images/cap.gif);
  background-repeat: repeat-x;
	padding: 6px 4px 6px 4px;
}

.capmain-left {
	width: 3px;
	height: 25px;
	background-color: #555;
	background-image: url(images/cap-left.gif);
}

.capmain-right {
	width: 3px;
	height: 25px;
	background-color: #555;
	background-image: url(images/cap-right.gif);
}

.main-bg {
	color: #555;
	background-color: #fff;
	padding: 10px 0 5px 0;
}

/* General table properties */

.center {
	margin: 0 auto;
}

.tbl-border {
	border: 1px solid #e1e1e1;
}

.tbl {
	font-size: 11px;
	color: #555;
	background-color: #fff;
	padding: 4px;
}

.tbl1 {
	font-size: 11px;
	color: #555;
	background-color: #fff;
	padding: 4px;
}

.tbl2 {
	font-size: 11px;
	color: #555;
	background-color: #f1f1f1;
	padding: 4px;
}

.forum-caption {
	font-size: 11px;
	font-weight: bold;
	color: #888;
	background-color: #f1f1f1;
	padding: 2px 4px 4px 4px;
}

.quote {
	font-size: 11px;
	color: #555;
	background-color: #f8f8f8;
	padding: 4px;
	margin: 0px 20px 0px 20px;
	border: 1px solid #bbb;
}

.poll {
	height: 12px;
	border: 1px solid #bbb;
}

.comment-name {
	font-weight: bold;
	color: #04688d;
}

.shoutboxname {
	font-weight: bold;
	color: #04688d;
}

.shoutbox {
	color: #777;
}

.shoutboxdate {
	font-size: 10px;
	color: #888;
}

.small {
	font-size: 10px;
	font-weight: normal;
}

.small2 {
	font-size: 10px;
	font-weight: normal;
	color: #555;
}

.side-small {
	font-size: 10px;
	font-weight: normal;
	color: #555;
}

.side-label {
	color: #555;
	background-color: #f1f1f1;
	margin: 2px 0 2px 0;
	padding: 2px 2px 3px 2px;
}

/* Vertical Navigation */

#navigation h2 {
	font-size: 10px;
	font-weight: normal;
	background-color: #f1f1f1;
	margin: 0;
	padding: 4px;
}
	
#navigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

* html #navigation ul li{
   height: 1%;
}

#navigation a {
	display: block;
	color: #555;
	padding: 2px;
	text-decoration: none;
}

#navigation a:hover {
	color: #fff;
	background-color: #f6a504;
}

/* Page Navigation */

.pagenav {
	padding: 4px;
}

.pagenav span {
	color: #fff;
	background-color: #f6a504;
	border: 1px solid #ddd;
	padding: 2px 4px 2px 4px;
	margin: 2px;
}

.pagenav a {
	color: #555;
	background-color: #f1f1f1;
	border: 1px solid #ddd;
	padding: 2px 4px 2px 4px;
	margin: 2px;
	text-decoration: none;
}

.pagenav a:hover {
	color: #fff;
	background-color: #f6a504;
	margin: 2px;
	text-decoration: none;
}
